.cart-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#empty{
    background-color: rgba(146, 154, 160, 0.335);
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#empty::before{
    content: "";
    position: absolute;
    background-color: rgb(211, 197, 197);
    width: 100%;
    height: 100%;
    transform: translateX(-100% );
    transition: all 0.2s;
    z-index: -1;
}
.carttitle{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(-160deg, #1565C0, #b92b27);
    
}
#proceed{
    background-color: rgb(211, 197, 186);
    width: 20rem;
    height: 5rem;
    font-size: 1.7rem;
    color: black;
    position: absolute;
    top: 12rem;
    right: 3rem;
    z-index: 1;
    overflow: hidden;
}

#proceed::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    background-color: rgb(90, 75, 75);
    z-index: -1;
    transition: cubic-bezier(0.23, 1, 0.320, 1) 200ms;
}
#proceed:hover:before{
    transform: translateX(0);
}
#proceed:hover{color:white;}

#empty:hover:before{
    transform: translateX(0);
}

.cart-item{
    display: flex;
    width: 40rem;
    flex-direction: column;
    height: 40rem;
    background-color: white;
    border-radius: 2rem;
    margin: 5rem;
}

.header{
    margin-bottom: 5rem;
}

.cart-item h4{
    text-align: center;
}

.cart-item img{
    width: 100%;
    height: 70%;
}

.cart-item h1{
    text-align: center;
}

.cart-item-row{
    display: flex;
}

.parent{
    background-color: rgb(199, 192, 192);
    width: 100vw;
    height: 93.84vh;
}