.furniture{
    display: flex;
    position: relative;
    background-color: rgb(233, 237, 240);
    width: 99.5vw;
    height: 25rem;
    margin: 0.3rem;
    
}

.furniture:hover{
    background-color: rgb(207, 210, 212);
}
.del{
    height: 5rem;
    position: absolute;
    right: 0;
    width: 20rem;
  
}
.btn2{
    position: absolute;
    right: 2rem;
    top: 1rem;
    
}
.furniture p{
    margin-top: 11rem;
    font-size: 1.6rem;
    position: absolute;
    align-self: center;
    margin-left: 29rem;
    margin-right: 2rem;
}

.shop{
    position: absolute;
    right: 4rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    height: 6rem;
    width: 20rem;
    overflow: hidden;
    z-index: 1;
    border-radius: 0 0.8rem;
}

.shop::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: rgb(78, 77, 82);
    height: 100%;
    width: 100%;
    transition: 200ms linear;
}
.shop:hover:before{
    transform: translateX(0);
}
.shop:hover{
    color: white;
}
.info{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.furniture img{

    width: 27rem;
    height: 100%;
}

.info .para{
    position: absolute;
    margin-top: 8rem;
}
.furniture h2{
    margin-top: 2rem;
    text-align: left;
    font-family: 'Dosis', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.2rem;
    font-weight: 10;
}

.furniture h4{
    
    margin-top: 0.5rem;
    font-weight: 500;
    text-align: center;
    font-size: 1.6rem;
    text-align: left;
}