.furniture{
    display: flex;
    position: relative;
    background-color: rgb(233, 237, 240);
    width: 100vw;
    height: 25rem;
    margin: 0.3rem;
    
}

.furniture:hover{
    background-color: rgb(207, 210, 212);
}

.furniture p{
    margin-top: 11rem;
    font-size: 1.6rem;
    position: absolute;
    align-self: center;
    margin-left: 29rem;
    margin-right: 2rem;
}

.shop{
    position: absolute;
    right: 4rem;
    margin-top: 2rem;
    height: 6rem;
    width: 20rem;
    border-radius: 0 0.8rem;
}

.shop:hover{
    background-color: rgb(114, 177, 31);
    color: white;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.furniture img{

    width: 27rem;
    height: 100%;
}

.furniture h2{

    text-align: left;
    font-family: 'Dosis', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.2rem;
    font-weight: 10;
}

.furniture h4{

    margin-top: 0.5rem;
    font-weight: 500;
    text-align: center;
    font-size: 1.6rem;
    text-align: left;
}