footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: rgb(251, 209, 209);
    width: 100vw;
    height: 10rem;
    margin-top: 10rem;
    background-color: rgb(65, 61, 61);
}
.home-div{
    min-height: 100.83vh;
    display: flex;
    height: 100%;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 192, 192);
}
.home-div #rev{
    margin-top: 10rem;
}


.row{
    display: flex;
    margin-top: 10rem;
}