nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 7rem;
    font-family: 'fira code', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(26, 24, 24);
}
#title{
    color: white;
    position: absolute;
    left: 2rem;
    font-size: 2rem;
    top: 2rem
}
nav li{
    display: inline-block;
    font-size: 1.5rem;
   
    color: white;
    margin: 0 2rem;
}
nav a{
    text-decoration: none;
}
nav div{
    display: flex;
    height: 7rem;
    align-items: center;
    transition-duration: 350ms;
    transition-timing-function: ease-out ;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
nav div::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    background-color: rgb(90, 75, 75);
    z-index: -1;
    transition: cubic-bezier(0.23, 1, 0.320, 1) 200ms;
}
nav div:hover:before{
    transform: translateX(0);
}