.para-rev{
    font-size: 2rem;
    padding: 2rem;
}
blockquote{
    position: relative;
    padding: 5rem;
}

blockquote::before{
    position: absolute;
    content: '"';
    display: inline;
    top: 1.5rem;
    left: 2.5rem;
    font-size: 6.5rem;
}

blockquote .author{
    font-weight: 400;
    font-size: 2rem;
    position:absolute;
    right: 3rem;
    bottom: 1rem;
}
.review{
    display: flex;
    border-radius: 2rem;
    width: 45rem;
    height: 40rem;
    background-color: rgb(224, 235, 236);
    margin-top: 8rem;
    margin-left: 5rem;
   
}

.review:hover{
    background-color: rgb(207, 210, 212);
}