html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.row{
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
}


@media (max-width:800px){
  html{
    font-size: 30%;
  }
}