html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 2.5rem;
  margin-top:5rem;
  border-radius: 1rem;
  width: 30rem;
  height: 5rem;
  background-color: rgb(212, 205, 205);
}
.row{
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
}


@media (max-width:800px){
  html{
    font-size: 30%;
  }
}